Repository nusr/excel: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, excel-collab

feat: enhance Excel export functionality and improve test coverage
  packages/demo/frontend/vite.config.mts
  packages/excel-collab/src/__tests__/Export.test.tsx
  packages/excel-collab/src/containers/Excel/__tests__/convertWorkbookToModel.test.ts
  packages/excel-collab/src/containers/Excel/__tests__/exportExcelDownload.test.ts
  packages/excel-collab/src/containers/Excel/__tests__/exportWorkbook.test.ts
  packages/excel-collab/src/containers/Excel/__tests__/exportXLSX.test.ts
  packages/excel-collab/src/containers/Excel/__tests__/importExcel.test.ts
  packages/excel-collab/src/containers/Excel/exportExcel.ts
  packages/excel-collab/src/containers/Excel/importExcel.ts
  packages/excel-collab/src/containers/Excel/index.ts
  packages/excel-collab/src/containers/MenuBar/index.tsx
  packages/excel-collab/src/i18n/index.ts
Due: frontend, excel-collab

fix: update ci
  .github/workflows/ci.yml
  .github/workflows/create-release-pr.yml
Due: none

test: add test cases
  packages/excel-collab/src/__tests__/Menubar.test.tsx
Due: excel-collab

chore(deps): remove unused dependencies from package.json and yarn.lock
  package.json
  packages/demo/backend/package.json
  packages/excel-collab/package.json
  yarn.lock
Due: backend, excel-collab

fix: ci
  playwright.config.ts
Due: none

fix: name
  packages/excel-collab/src/containers/MenuBar/index.tsx
Due: excel-collab

deploy: d98cc5878431d0f73b325eafbdadb8df61bba17a
  index.html
Due: none

deploy: 9e2abdd4e531fcf98776d5e604227cb7fa68af54
  index.html
Due: none

deploy: b7b799454bf8ce92f95d2c5db1f110cfc53785d6
  .vite/manifest.json
  assets/Chart-BH4K__rR-DAM8e7Pk.js
  assets/Chart-BH4K__rR-DAM8e7Pk.js.map
  assets/Chart-BH4K__rR-DiXgW4ID.js
  assets/Chart-BH4K__rR-DiXgW4ID.js.map
  assets/index-BRA_-WNk.js
  assets/index-BRA_-WNk.js.map
  assets/index-DjhC1zZn.js
  assets/index-DjhC1zZn.js.map
  index.html
Due: none

deploy: aa3c0efb39c4e1ac0202ea6981f7b772470314b5
  .vite/manifest.json
  assets/Chart-BH4K__rR-DAM8e7Pk.js
  assets/Chart-BH4K__rR-DAM8e7Pk.js.map
  assets/Chart-BH4K__rR-DiXgW4ID.js
  assets/Chart-BH4K__rR-DiXgW4ID.js.map
  assets/index-BRA_-WNk.js
  assets/index-BRA_-WNk.js.map
  assets/index-DjhC1zZn.js
  assets/index-DjhC1zZn.js.map
  index.html
Due: none

deploy: 42afc556fa7635d0f751e10913772201d4b63985
  .vite/manifest.json
  assets/Chart-BH4K__rR-DAM8e7Pk.js
  assets/Chart-BH4K__rR-DAM8e7Pk.js.map
  assets/Chart-BH4K__rR-DiXgW4ID.js
  assets/Chart-BH4K__rR-DiXgW4ID.js.map
  assets/index-BRA_-WNk.js
  assets/index-BRA_-WNk.js.map
  assets/index-DjhC1zZn.js
  assets/index-DjhC1zZn.js.map
  index.html
Due: none

fix: e2e test
  playwright.config.ts
Due: none

feat: enhance Excel export functionality and improve test coverage (#285)
  .github/workflows/ci.yml
  .github/workflows/create-release-pr.yml
  packages/demo/frontend/vite.config.mts
  packages/excel-collab/src/__tests__/Export.test.tsx
  packages/excel-collab/src/__tests__/Menubar.test.tsx
  packages/excel-collab/src/containers/Excel/__tests__/convertWorkbookToModel.test.ts
  packages/excel-collab/src/containers/Excel/__tests__/exportExcelDownload.test.ts
  packages/excel-collab/src/containers/Excel/__tests__/exportWorkbook.test.ts
  packages/excel-collab/src/containers/Excel/__tests__/exportXLSX.test.ts
  packages/excel-collab/src/containers/Excel/__tests__/importExcel.test.ts
  packages/excel-collab/src/containers/Excel/exportExcel.ts
  packages/excel-collab/src/containers/Excel/importExcel.ts
  packages/excel-collab/src/containers/Excel/index.ts
  packages/excel-collab/src/containers/MenuBar/index.tsx
  packages/excel-collab/src/i18n/index.ts
  playwright.config.ts
Due: frontend, excel-collab

deploy: 3c803db16b135146239a2818beaead8ab8cbef82
  .vite/manifest.json
  assets/Chart-BH4K__rR-DAM8e7Pk.js
  assets/Chart-BH4K__rR-DAM8e7Pk.js.map
  assets/Chart-BH4K__rR-IAVmo6X1.js
  assets/Chart-BH4K__rR-IAVmo6X1.js.map
  assets/index-DjhC1zZn.js
  assets/index-DjhC1zZn.js.map
  assets/index-MlgLKewQ.js
  assets/index-MlgLKewQ.js.map
  index.html
Due: none

deploy: a69e3936b240b23dc43165dcfc2c5a7e12345ed6
  index.html
Due: none

deploy: d9a74e1abd0b3e34cc7ad0a51ae20f9f1f2db42c
  .vite/manifest.json
  assets/Chart-BH4K__rR-CcGxrYhg.js
  assets/Chart-BH4K__rR-CcGxrYhg.js.map
  assets/Chart-BH4K__rR-IAVmo6X1.js
  assets/Chart-BH4K__rR-IAVmo6X1.js.map
  assets/index-MlgLKewQ.js
  assets/index-MlgLKewQ.js.map
  assets/index-RZLzAiRP.js
  assets/index-RZLzAiRP.js.map
  index.html
Due: none

chore(deps): udpate deps
  .github/workflows/ci.yml
  .husky/pre-commit
  package.json
  packages/demo/backend/package.json
  packages/demo/backend/src/__tests__/websocket.test.ts
  packages/demo/backend/src/index.ts
  packages/demo/backend/src/route.ts
  packages/demo/backend/src/websocket.ts
  packages/demo/backend/tsconfig.json
  packages/demo/frontend/package.json
  packages/excel-collab/package.json
  packages/excel-collab/src/editor.tsx
  scripts/jest.setup.js
  yarn.lock
Due: backend, frontend, excel-collab

chore(deps): update deps
  package.json
  packages/demo/backend/src/route.ts
  packages/excel-collab/package.json
  yarn.lock
Due: backend, excel-collab

chore(deps): fix deps
  package.json
  yarn.lock
Due: none

Refactor CI workflow for Playwright integration
  .github/workflows/ci.yml
Due: none

fix: ci
  .github/workflows/ci.yml
Due: none

fix:ci
  .github/workflows/ci.yml
Due: none

Update permissions for CI workflow
  .github/workflows/ci.yml
Due: none

deploy: c3707bcd6bd8c3524fa1f594c7115eefedcfa94c
  .vite/manifest.json
  assets/Chart-BH4K__rR-BCCVrPzB.js
  assets/Chart-BH4K__rR-BCCVrPzB.js.map
  assets/Chart-BH4K__rR-CcGxrYhg.js
  assets/Chart-BH4K__rR-CcGxrYhg.js.map
  assets/index-Cm-yhKhy.js
  assets/index-Cm-yhKhy.js.map
  assets/index-RZLzAiRP.js
  assets/index-RZLzAiRP.js.map
  index.html
Due: none

test: fix e2e test
  e2e/ccp.test.ts
  e2e/context-menu.test.ts
  e2e/formatting.test.ts
  e2e/input.test.ts
  e2e/merge-cells.test.ts
  e2e/number-format.test.ts
  e2e/performance.test.ts
  e2e/scrolling.test.ts
  e2e/sheets.test.ts
  e2e/undo-redo.test.ts
  e2e/util.ts
  playwright.config.ts
  tsconfig.json
Due: none

deploy: d469cd1aeb7a68bdd09e4a2e92b495007d89a40c
  index.html
Due: none

test: fix e2e test
  e2e/util.ts
Due: none

deploy: dc2df78b6bb5c2a32b6001e960875993b4b21bb8
  index.html
Due: none

Change report type from test_results to coverage
  .github/workflows/ci.yml
Due: none

deploy: c41cea8c5b9b28bc4ae9d44cb112c9bacaaafde1
  index.html
Due: none

deploy: a2ae6dc9dc69b8547ffa09460b071bf95e67d3ab
  index.html
Due: none

deploy: 37612769e1308818605fe2e27a792318c7b28a7c
  index.html
Due: none

deploy: db62ed3363bbed14bc8fd26ba00eb2347d0eab2d
  index.html
Due: none

deploy: a92ea542741bcb7425701da3aa8eafa6f8ea4468
  index.html
Due: none

deploy: 796d2bc08b4d7b573e0f700120e4260a90cef292
  index.html
Due: none

deploy: 5f4cd7b069ce88368d4e0125192454a79c54bb15
  index.html
Due: none

deploy: f2e004d2b61e9b7a8e3419d621e4072bf6533975
  index.html
Due: none

deploy: 0bcd8992021db01f28285c307a9ac4d2793d1217
  index.html
Due: none

chore(deps): update dependencies and configurations across multiple packages
  packages/demo/backend/jest.config.js
  packages/demo/backend/package.json
  packages/demo/frontend/package.json
  packages/demo/frontend/src/index.tsx
  packages/demo/frontend/src/sentry.ts
  packages/demo/frontend/vite.config.mts
  packages/excel-collab/package.json
  packages/excel-collab/vite.config.mts
  scripts/jest.config.js
Due: backend, frontend, excel-collab

Path conditions:
  backend: any of: packages/demo/backend
  frontend: any of: packages/demo/frontend
  excel-collab: any of: packages/excel-collab
