Repository nusr/excel: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, excel-collab

codecov.yml:

coverage:
  ignore:
    - "**/*.test.tsx"
    - "**/*.test.ts"
  status:
    project:
      default: off
      frontend:
        target: 50%
        flags:
          - frontend
      backend:
        target: 50%
        flags:
          - backend
      excel-collab:
        target: 80%
        flags:
          - excel-collab

flags:
  backend:
    paths:
      - packages/demo/backend
  frontend:
    paths:
      - packages/demo/frontend
  excel-collab:
    paths:
      - packages/excel-collab

Change test command from npm to yarn with options
  .github/workflows/main.yml
Due: none

Update codecov.yml
  codecov.yml
Due: none

Update package.json
  package.json
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

Update number-format.test.ts
  packages/excel-collab/src/canvas/__tests__/number-format.test.ts
Due: excel-collab

Update util.ts
  packages/excel-collab/src/canvas/__tests__/util.ts
Due: excel-collab

Change release type from 'created' to 'published'
  .github/workflows/publish.yml
Due: none

Remove environment from publish job in workflow
  .github/workflows/publish.yml
Due: none

feat: support all formulas
  README.md
  README_zh.md
  package.json
  packages/demo/backend/.env
  packages/demo/backend/README.md
  packages/demo/backend/package.json
  packages/demo/backend/src/index.ts
  packages/demo/frontend/package.json
  packages/demo/frontend/playwright.config.ts
  packages/excel-collab/package.json
  packages/excel-collab/src/canvas/util.ts
  packages/excel-collab/src/formula/__tests__/formula/math.test.ts
  packages/excel-collab/src/formula/__tests__/formula/text.test.ts
  packages/excel-collab/src/formula/__tests__/interpreter/function.test.ts
  packages/excel-collab/src/formula/eval.ts
  packages/excel-collab/src/formula/formula/error.ts
  packages/excel-collab/src/formula/formula/float.ts
  packages/excel-collab/src/formula/formula/index.ts
  packages/excel-collab/src/formula/formula/math.ts
  packages/excel-collab/src/formula/formula/text.ts
  packages/excel-collab/src/formula/interpreter.ts
  packages/excel-collab/src/formula/parser.ts
  packages/excel-collab/src/formula/scanner.ts
  packages/excel-collab/src/types/parser.ts
  packages/excel-collab/src/util/constant.ts
  packages/excel-collab/src/util/formula.ts
  packages/excel-collab/src/util/index.ts
  packages/excel-collab/vite.config.mts
  scripts/merge-coverage.js
  scripts/update-md.js
Due: backend, frontend, excel-collab

fix: CI
  .github/workflows/publish.yml
  .gitignore
  packages/demo/backend/src/route.ts
Due: backend

fix: CI
  .github/workflows/publish.yml
Due: none

fix: CI
  .github/workflows/create-release-pr.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
  package.json
  yarn.lock
Due: none

fix: CI
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  codecov.yml
Due: none

fix: Dependabot alerts
  package.json
  yarn.lock
Due: none

fix: deps
  package.json
  yarn.lock
Due: none

feat: support preload
  packages/demo/frontend/src/index.tsx
  packages/demo/frontend/vite.config.mts
Due: frontend

fix: CI
  .github/workflows/create-release-pr.yml
Due: none

chore(RELEASE): 0.1.10
  packages/excel-collab/CHANGELOG.md
  packages/excel-collab/package.json
Due: excel-collab

fix: publish to NPM
  .github/workflows/create-release-pr.yml
  .github/workflows/publish.yml
Due: none

chore(RELEASE): 0.1.11
  packages/excel-collab/CHANGELOG.md
  packages/excel-collab/package.json
Due: excel-collab

fix: CI
  .github/workflows/ci.yml
Due: none

fix: trigger publish after release
  .github/workflows/publish.yml
Due: none

doc: update README
  README.md
  README_zh.md
Due: none

test: add more unit test for backend
  packages/demo/backend/.env
  packages/demo/backend/src/__tests__/db.test.ts
  packages/demo/backend/src/__tests__/route.test.ts
  packages/demo/backend/src/__tests__/websocket.test.ts
  packages/demo/backend/src/db.ts
  packages/demo/backend/src/index.ts
  packages/demo/backend/src/route.ts
  packages/demo/backend/src/websocket.ts
Due: backend

fix: update prepare script in package.json
  package.json
Due: none

fix: CI
  .github/workflows/create-release-pr.yml
  .github/workflows/publish.yml
Due: none

Add actions write permission for release PR workflow
  .github/workflows/create-release-pr.yml
Due: none

chore: deps
  package.json
  yarn.lock
Due: none
