Repository nusr/excel: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, excel-collab

test: fix e2e test cases
  .github/workflows/ci.yml
  e2e/ccp.test.ts
  e2e/input.test.ts
  e2e/page.test.ts
  e2e/performance.test.ts
  e2e/util.ts
  package.json
  packages/demo/backend/package.json
  packages/demo/frontend/package.json
  packages/demo/frontend/playwright.config.ts
  packages/demo/frontend/src/__tests__/util.test.ts
  packages/demo/frontend/src/index.tsx
  packages/demo/frontend/src/util.ts
  packages/demo/frontend/vite.config.mts
  packages/excel-collab/package.json
  playwright.config.ts
  tsconfig.node.json
  yarn.lock
Due: backend, frontend, excel-collab

Skip console log handling in E2E tests
  e2e/util.ts
Due: none

fix: CI
  e2e/util.ts
  package.json
  packages/demo/frontend/src/vite-env.d.ts
  yarn.lock
Due: frontend

test: add more e2e test cases
  .github/workflows/ci.yml
  e2e/ccp.test.ts
  e2e/context-menu.test.ts
  e2e/formatting.test.ts
  e2e/input.test.ts
  e2e/merge-cells.test.ts
  e2e/number-format.test.ts
  e2e/page.test.ts
  e2e/performance.test.ts
  e2e/scrolling.test.ts
  e2e/sheets.test.ts
  e2e/undo-redo.test.ts
  e2e/util.ts
  package.json
  packages/demo/backend/package.json
  packages/demo/frontend/package.json
  packages/demo/frontend/src/util.ts
  packages/demo/frontend/vite.config.mts
  playwright.config.ts
  yarn.lock
Due: backend, frontend

fix: e2e test
  .github/workflows/ci.yml
  packages/demo/frontend/vite.config.mts
Due: frontend

Update prepare script to include npm run build
  package.json
Due: none

chore: deps
  package.json
  packages/demo/frontend/package.json
  packages/excel-collab/package.json
  yarn.lock
Due: frontend, excel-collab

Update dependabot configuration for npm packages
  .github/dependabot.yml
Due: none

Add labels to Dependabot configuration
  .github/dependabot.yml
Due: none

chore: update deps
  package.json
  packages/demo/backend/package.json
  packages/demo/frontend/package.json
  packages/excel-collab/package.json
  yarn.lock
Due: backend, frontend, excel-collab

feat: build with commit id
  .github/workflows/ci.yml
  packages/demo/frontend/index.html
  packages/demo/frontend/src/sentry.ts
  packages/demo/frontend/vite.config.mts
Due: frontend

Add retry mechanism for deployment verification
  .github/workflows/ci.yml
Due: none

deploy: 453a27eef6023c4f46e5213dc49db772cfc0e670
  index.html
Due: none

Adjust site accessibility check parameters
  .github/workflows/ci.yml
Due: none

deploy: 5551828a3ac3a9a05c2208e7cabd2c6dadfa87ef
  index.html
Due: none

deploy: 0cfef035606ce03b482fed4365a73fe0ca152f80
  index.html
Due: none

deploy: 4ef59c9e03481d0f6b5c3bbb0310fee2b83d02f2
  index.html
Due: none

deploy: 7bdc73490115052348a37d40e2b8c58f37991564
  index.html
Due: none

deploy: 943198e15e1726479f3798221418057f78f66209
  index.html
Due: none

deploy: ce44970fd9e721cb2b819c3fbcd26d7dd96136d6
  index.html
Due: none

deploy: 6be08628a41818c973fa6c8b3b6b782cdcbdcb42
  index.html
Due: none

deploy: 29f1f83ca80dcaa6c856fa0b1b6f5a1275a7eeb0
  index.html
Due: none

chore: update deps
  package.json
  packages/demo/backend/package.json
  packages/demo/frontend/package.json
  packages/excel-collab/package.json
  scripts/jest.config.js
  scripts/jest.setup.js
  yarn.lock
Due: backend, frontend, excel-collab

deploy: bff60c0ab24b9990295b70a3d2838e8c09fb0ba9
  index.html
Due: none

chore: deps
  package.json
  packages/demo/backend/package.json
  packages/demo/frontend/src/global.d.ts
  packages/demo/frontend/src/sentry.ts
  packages/demo/frontend/vite.config.mts
  packages/excel-collab/vite.config.mts
  scripts/jest.setup.js
  yarn.lock
Due: backend, frontend, excel-collab

Path conditions:
  backend: any of: packages/demo/backend
  frontend: any of: packages/demo/frontend
  excel-collab: any of: packages/excel-collab
